{% load static %}
<!DOCTYPE html>
<html>
    <head>
<title> {% block titulo%}{% endblock %}</title>
    </head>
    <body>
        <h1>Purplese</h1>
        <a href="{% url 'list-recentes' %}">Recentes</a>
        
        
            | <a href="{% url 'sec-logout' %}">Gêneros</a>
            | <a href="{% url 'sec-passwordchange' %}">Categorias</a>
            | <a href="{% url 'list-img' %}">Tags</a>
       
            | <a href="{% url 'list-img' %}">Minhas Histórias</a>
        Voce é {% firstof user.username 'visitante'%}
        {% block conteudo%}{% endblock %}
    </body>
</html>