{%block conteudo%}
<link rel="stylesheet" href="static/css/style.css">
<meta charset=”UTF-8″>
<h2 class=titulo>
    Seja Bem vindo ao Purplese</br>
    O site que você pode compartilhar suas fanarts e figurinhas com os outros</br>
    Caso não tenha um cadastro <a href="{%url 'sec-registro'%}">click aqui</a> </br>
</br>Se deseja fazer Login <a href="{%url 'sec-login'%}"> login aqui</a> <span style="font-size:40px;color:#00ffd5;">&#9194;</span>
    <p style="font-size:200px">&#128154;</p> 
</h2>
{% endblock%}