{% extends 'purplese/registros/base.html'%}
{% block titulo%} Login do Usuario{%endblock%}
<!--Conteudo da pagina-->
{%block conteudo%}
<h2 class=titulo>Login do usuario</h2>

<form class=tabela method="POST">
    {%csrf_token%}
    <table>
        <div>
            <label>Username: </label>
            {{form.username}}
        </div>
        <div>
            <label>Password: </label>
            {{form.password}}
        </div>
        
    </table>
    
    <div >
        <input class=botao1 type="submit" value="Logar" >
    </div>
    Esqueceu a Senha? <a href="{%url 'password-reset' %}">Click aqui para recuperar</a>
    
</form>

{% endblock%}