<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Email para redefinir senha</title>
    </head>
    <body>
        <p>
            Você provavelmente pediu para recuprear a senha de {{protocol}}://{{domain}} atraves do email {{email}}
        </p>
        {%url 'password_reset_confirm' uidb64=uid token=ttoken as link %}
        <p>
            Para criar uma nova senha clique o seguinte link <a href="{{protocol}}://{{domain}}{{link}}">Criar Nova Senha</a>
        </p>
    </body>
</html>